/********** Template CSS **********/
:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}




/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

 /*caja de busqueda? */
.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;

}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #FFFFFF !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}


/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Destination ***/
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}


/* Estilos para los botones de navegación */
#prevBtn, #nextBtn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

/*  */
.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel {
    display: flex;
    margin: auto;          /* Asegura que los elementos estén en fila */
    flex-wrap: nowrap;      /* Evita que los elementos se envuelvan en otra fila */
}

/* Estilo para que las imágenes del carrusel no alarguen la página */
.owl-carousel .item {
    display: inline-block;  
    width: 250px;            /* Ajusta el ancho automáticamente */
    vertical-align: top;    /* Alinea los elementos en la parte superior */
}

.owl-carousel .item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Para mantener proporciones sin distorsión */
    transition: transform 0.3s ease-in-out;
}

.item img {
    width: 100%;            /* Las imágenes ocuparán el 100% de su contenedor */
    height: auto;           /* Mantendrán la relación de aspecto */
    object-fit: cover;      /* Para que no se deformen */
    transition: transform 0.3s ease-in-out;
}

.owl-carousel .item:hover img {
    transform: scale(1.05); /* Efecto de zoom suave al hacer hover */
}

/* Título y subtítulo */
.Ofertas .section-title {
    color: var(--primary);
}

.Ofertas h1 {
    font-size: 2.5rem;
    color: var(--dark);
    margin-bottom: 20px;
}


/*** Package ***/
.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    position: relative;
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}


/*** Booking ***/
.booking {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/booking.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.team-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.package-item {
    position: relative; /* El modal se posiciona en relación a este contenedor */
}
        /* Modal Styles */
        .btn {
            position: relative;
            font-size: 1.2em;
            font-weight: 300;
            color: #fff;
            text-shadow: none;
            border-radius: 0px;
            background: #86B817;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.22);
            text-decoration: none;
        }

        #modalContent {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -30%);
            z-index: 9;
            width: 80%;
            max-width: 700px;
            color: #888888;
            padding: 15px;
            border-radius: 5px;
            background: #ffffff;
            border: 1px solid #86B817;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.22);
         }

        #modal {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 5;
            float: left;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            display: none;
            opacity: 0;
        }



        :target {
            display: block !important;
            opacity: 1 !important;
        }

        #modalContent > a {
            position: absolute;
            top: -4px;
            right: -4px;
            color: #fff;
            border-radius: 2px;
            background: #86B817;
            padding: 10px;
            font-size: 30px;
            text-decoration: none;
        }

        /* Animation for hover */
        .package-item {
            transition: transform 0.3s ease-in-out;
        }

        @media (max-width: 768px) {
            #modalContent {
                width: 90%;
            }
         }
         
         @media (max-width: 480px) {
            #modalContent {
                width: 95%;
                padding: 10px;
            }
         }


         /* ACTIFIDADES */
.activity-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    gap: 20px; /* Espacio entre las tarjetas */
    margin: 30px 0;
        }

/* Tarjeta de actividad */
.activity-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 100%;
}

/* Efecto hover en la tarjeta */
.activity-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
/* Imagen dentro de la tarjeta */
.activity-card img {
    width: 100%;
    height: 200px; /* Ajusta la altura de la imagen */
    object-fit: contain; /* Mantiene la proporción de la imagen sin deformarla */
    border-radius: 10px;
}

/* Estilo para el título de la actividad */
.activity-title {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--dark);
    background-color: var(--primary);
    border-radius: 5px;
}

/* Estilo para la descripción */
.activity-description {
    padding: 10px;
    font-size: 1rem;
    font-weight: normal;
    color: var(--dark);
    background-color: var(--light);
    border-radius: 5px;
    margin-top: 10px;
}

.activity-place {
    padding: 10px;
    font-size: 1rem;
    font-weight: normal;
    color: var(--dark);
    background-color: var(--light);
    border-radius: 5px;
    margin-top: 10px;
}

/* Efecto hover en el título y la descripción */
.activity-card .activity-title:hover,
.activity-card .activity-description:hover {
    background-color: var(--secondary); /* Cambia el fondo en hover */
}

/* Variantes para tarjetas más grandes */
.activity-card.large {
    grid-column: span 2; /* Ocupa 2 columnas */
    grid-row: span 2; /* Ocupa 2 filas */
}

.activity-card.extra-large {
    grid-column: span 3; /* Ocupa 3 columnas */
    grid-row: span 2; /* Ocupa 2 filas */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .activity-container {
        grid-template-columns: repeat(2, 1fr); /* En pantallas pequeñas, las tarjetas ocupan dos columnas */
    }

    .activity-card.large {
        grid-column: span 2; /* Ocupa 2 columnas en pantallas pequeñas */
    }

    .activity-card.extra-large {
        grid-column: span 2; /* Ocupa 2 columnas en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .activity-container {
        grid-template-columns: 1fr; /* En pantallas muy pequeñas, las tarjetas se apilan una encima de otra */
    }

    .activity-card.large,
    .activity-card.extra-large {
        grid-column: span 1; /* Se adapta a una columna en pantallas muy pequeñas */
    }
}
        /* ACTIVIDADES END */

/* Hacer que el contenedor sea más grande y el área de hover más amplia */
.profile-container {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 60px; /* Aumentar el tamaño del contenedor para mayor área de hover */
    height: 60px; /* Igual que el tamaño de la imagen y el botón */
}

/* El botón está oculto por defecto */
#logout-btn {
    display: none; /* Ocultar el botón por defecto */
    position: absolute; /* Posiciona el botón justo debajo de la imagen */
    top: 50px; /* Coloca el botón justo debajo de la imagen */
    left: 50%;
    width: max-content; /* Igual que el tamaño del contenedor */
    font-size: 15px;
    transform: translateX(-50%);
    z-index: 9999; /* Asegura que el botón esté encima de otros elementos */
}

/* Mostrar el botón cuando el contenedor recibe el hover */
.profile-container:hover #logout-btn {
    display: block; /* Muestra el botón solo cuando el contenedor recibe hover */
}

/* Estilos del Modal */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1; /* Asegura que el modal esté sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

/* Estilo del contenido del modal */
.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centra el modal */
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

/* Estilo de la X para cerrar el modal */
.close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Botón de guardar cambios */
#saveChangesBtn {
    margin-top: 20px;
}




